<link rel='stylesheet' href='/stylesheets/dashboard.css' />
<script src= "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<div id="wrapper">


        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard">Cardigram</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{Name}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/userprofile"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/user/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav side-nav">
                  <li>
                      <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                  </li>
                  <li>
                      <a href="/getcharts"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                  </li>
                  <li  class="active">
                      <a href="/table"><i class="fa fa-fw fa-table"></i> Tables</a>
                  </li>
                  <li>
                      <a href="/report"><i class="fa fa-fw fa-database"></i> Reports</a>
                  </li>
                  <li>
                      <a href="/gensini"><i class="fa fa-fw fa-gratipay"></i> Gensini</a>
                  </li>
                  <li>
                      <a href="/uploaddata"><i class="fa fa-fw fa-upload"></i> Upload data</a>
                  </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tables
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html"><b>Dashboard</b></a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Tables
                            </li>
                        </ol>
                    </div>
                </div>
                <br>



                {{# if Length}}
<div class="row">
        <div class="col-lg-12">
              <h2>Haematology.</h2>
<div class="table-responsive">
<table id="demo" class="table table-condensed table-hover table-bordered sortable">
    <thead>
        <tr>
            <th>Haemoglobin</th>
            <th>Leucocyte</th>
            <th>Neutrophils</th>
            <th>Lymphocytes</th>
            <th>Eosinophils</th>
            <th>Monocytes</th>
        </tr>
    </thead>
    <tbody>
      {{# each haematology}}
      {{# each this}}
        <tr>

            <td>{{this.Haemoglobin}}</td>
            <td>{{this.Leucocyte}}</td>
            <td>{{this.Neutrophils}}</td>
            <td>{{this.Lymphocytes}}</td>
            <td>{{this.Eosinophils}}</td>
            <td>{{this.Monocytes}}</td>
        </tr>
          {{/each}}
      {{/each}}
    </tbody>

</table>
  <button type="button" name="OK" class="ok btn btn-warning button">Generate charts</button>

</div>
</div>
</div>

<br>
<div class="row">
        <div class="col-lg-12">
              <h2>Lipid Profile.</h2>
<div class="table-responsive">
<table id="demo1" class="table table-condensed table-hover table-bordered sortable">
    <thead>
        <tr>
            <th>Cholesterol</th>
            <th>Triglycerides</th>
            <th>HDL Cholesterol</th>
            <th>LDL Cholesterol</th>
            <th>VLDL Cholesterol</th>
            <th>LDL/HDL Cholesterol</th>
        </tr>
    </thead>
    <tbody>
      {{# each haematology}}
      {{# each this}}
        <tr>

            <td>{{this.Cholesterol}}</td>
            <td>{{this.Triglycerides}}</td>
            <td>{{this.HDLCholesterol}}</td>
            <td>{{this.LDLCholesterol}}</td>
            <td>{{this.VLDLCholesterol}}</td>
            <td>{{this.LDLHDLCholesterol}}</td>
        </tr>
          {{/each}}
      {{/each}}
    </tbody>

</table>
  <button type="button" name="OK" class="ok btn btn-warning button">Generate charts</button>

</div>
</div>
</div>

<br>
<div class="row">
        <div class="col-lg-12">
              <h2>Kidney functioning test.</h2>
<div class="table-responsive">
<table id="demo2" class="table table-condensed table-hover table-bordered sortable">
    <thead>
        <tr>
            <th>Urea</th>
            <th>Creatinine</th>
            <th>Sodium</th>
            <th>Uric Acid</th>
            <th>Potassium</th>
            <th>Phosphorous</th>
        </tr>
    </thead>
    <tbody>
      {{# each haematology}}
      {{# each this}}
        <tr>

            <td>{{this.Urea}}</td>
            <td>{{this.Creatinine}}</td>
            <td>{{this.Sodium}}</td>
            <td>{{this.Uric}}</td>
            <td>{{this.Potassium}}</td>
            <td>{{this.Phosphorous}}</td>
        </tr>
          {{/each}}
      {{/each}}
    </tbody>

</table>
  <button type="button" name="OK" class="ok btn btn-warning button">Generate charts</button>

</div>
</div>
</div>



<br>
<div class="row">
        <div class="col-lg-12">
              <h2>Liver functioning test.</h2>
<div class="table-responsive">
<table id="demo3" class="table table-condensed table-hover table-bordered sortable">
    <thead>
        <tr>
            <th>Bilirubin</th>
            <th>Alkaline Phosphate</th>
            <th>Protein</th>
            <th>Albumin</th>
            <th>Gamma</th>
            <th>Globulin</th>
        </tr>
    </thead>
    <tbody>
      {{# each haematology}}
      {{# each this}}
        <tr>

            <td>{{this.Bilirubin}}</td>
            <td>{{this.Alkaline}}</td>
            <td>{{this.Protein}}</td>
            <td>{{this.Albumin}}</td>
            <td>{{this.Gamma}}</td>
            <td>{{this.Globulin}}</td>
        </tr>
          {{/each}}
      {{/each}}
    </tbody>

</table>
  <button type="button" name="OK" class="ok btn btn-warning button">Generate charts</button>

</div>
</div>
</div>




<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Analysis</h4>
      </div>
      <div class="modal-body">
        <p class="input-sm" id="txtfname"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id = "closebutton" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<br>
<div id="chartDiv"  style="display:none;" class="ct-chart4"></div>


{{ else }}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">No data to show.<br></h2>
        </div>
    </div>
{{/if}}








</div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <script type="text/javascript" src="javascripts/charts.js"></script>
    <script>
    /*$('table tbody tr  td').on('click',function(){
        $("#myModal").modal("show");
        $("#txtfname").val($(this).closest('tr').children()[0].textContent);

        $("#txtlname").val($(this).closest('tr').children()[1].textContent);
    });*/
    $("#demo tr").click(function(){
   $(this).toggleClass('selected');
   var value=$(this).find('td:first').text();
   //var value2 =$(this).find('td:nth-child(2)').text();
   var value3 =$(this).find('td:nth-child(2)').text();
});

$('#closebutton').on('click', function(e) {
  $('tr').removeClass("selected");
})
$('.ok').on('click', function(e){
  var jsonObj = {
    selected : []
};

var temp = {
labels: [],
series : [[]]
}

    $("#demo tr.selected").each(function(){
        jsonObj.selected.push($('td:first', this).text());
        //temp.labels.push($('td:nth-child(2)', this).text());
        temp.series[0].push($('td:nth-child(2)', this).text());
    });
    if(jsonObj.selected.length==0){
      $("#myModal").modal("show");
      document.getElementById("txtfname").innerHTML = "Please select customers to compare.";
    }
    else if(jsonObj.selected.length>5){
      $("#myModal").modal("show");
      document.getElementById("txtfname").innerHTML = "Cannot select more than five entities.";
  }
  else{
    $('tr').removeClass("selected");
    document.getElementById('chartDiv').style.display = "block";
    drawChart4(temp);
    /*$.ajax({
    type:"post",
    url:"/name",
    dataType: 'json',
        data: JSON.stringify(jsonObj),
        contentType: 'application/json',
        success: function(data){
           alert("success");
           alert(data);
    }
});
jsonObj.selected=[];
    rendergraph();*/
  }
});
    </script>

    <script>
    function rendergraph() {
    document.getElementById('chartDiv').style.display = "block";
    xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", "/name", true);
    xmlhttp.responseType = 'json';
    xmlhttp.onreadystatechange = function() {
    if(xmlhttp.status == 200) {
    var data = xmlhttp.response;
    console.log(data.data[0]);
    drawChart4(data.data[0]);
    }
    }
    xmlhttp.send();
    console.log("Request was sent to server");
    }
    </script>
<script type="text/javascript" src="javascripts/table.js"></script>
<script type="text/javascript" src="javascripts/table1.js"></script>
<script type="text/javascript" src="javascripts/table2.js"></script>
<script type="text/javascript" src="javascripts/table3.js"></script>
